{
	"url": "https://USERNAME:PASSWORD@SERVER.COM/webui/plugins/httprpc/action.php",
	"sortOrder": ["added", "name"],
	"acceptAllCerts": false,
	"commands": {
		"download": [
			"rsync",
			"-avuc",
			"--progress",
			"--append",
			"--bwlimit=500",
			"-e",
			"/usr/bin/sshpass -p PASSWORD /usr/bin/ssh -l USERNAME",
			"SERVER.COM:\"<path>\"",
			"."
		],
		"downloadFast": [
			"rsync",
			"-avuc",
			"--progress",
			"--append",
			"-e",
			"/usr/bin/sshpass -p PASSWORD /usr/bin/ssh -l USERNAME",
			"SERVER.COM:\"<path>\"",
			"."
		],
		"upload": [
			"rsync",
			"-avuc",
			"--progress",
			"--append",
			"-e",
			"/usr/bin/sshpass -p PASSWORD /usr/bin/ssh -l USERNAME",
			"<paths>",
			"SERVER.COM:~/torrents/watchdir"
		]
	}
}
