{
	"url": "https://USERNAME:PASSWORD@SERVER.COM/webui/plugins/httprpc/action.php",
	"sortOrder": ["added", "name"],
	"commands": {
		"download": "<dir>/scripts/fetch PASSWORD 'USERNAME@SERVER.COM:\"<path>\"'",
		"downloadFast": "<dir>/scripts/fetchfast PASSWORD 'USERNAME@SERVER.COM:\"<path>\"'",
	}
}
